body {
    background-image: url('background/wp11898445.webp');
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgrey;
    padding: 10px;
    transition: top 0.3s ease-in-out;

    z-index: 9999;
}
.user-welcome {
    font-size: 1.2em;
    margin-right: 10px;
}
.logout-btn {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: row;
    border: solid white 5px;
}

#board {
    background-color: skyblue;
}

h1 {
    color: #333;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.buttons button {
    display: block;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: grey;
}

#playerscore {
    font-size: 20px;
    color: #333;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 5px white;
}
