body {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://e0.pxfuel.com/wallpapers/416/755/desktop-wallpaper-minimal-cabinet-action-games.jpg');
    background-size: cover;
    background-position-y: 110vh;
}

.form-container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    box-shadow: black;
    position: absolute;
    margin-top: 250px;
    margin-left: 200px;
}

.form-container h2, p, a {
    text-align: center;
    color: #ffffff;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color:black;
    color: white;
}

.form-container input[type="submit"] {
    width: 102%;
    padding: 10px;
    margin-top: 10px;
    border: 1px;
    border-radius: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: grey;
}

.form-container p, a:hover {
    color: grey;
}

.error-message {
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    word-wrap: break-word;
}
