body {
    margin: 0;
    padding: 0;
    background-image: url('background/wp11898445.webp');
    background-size: cover;
    background-attachment: fixed;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgrey;
    padding: 10px;
    transition: top 0.3s ease-in-out;

    z-index: 9999;
}

.user-welcome {
    font-size: 1.2em;
    margin-right: 10px;
}

.logout-btn {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: grey;
}

.games-menu {
    display: flex;
    justify-content: center; /* Začni od začátku */
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 70px;
}

.game {
    margin-top: 2%;
    text-align: center;
    background-image: url('background/arcade.png');
    height: 80vh;
    width: 417px; /* Nová šířka */
    background-size: cover; /* Přizpůsobíme velikost pozadí */
    background-position: center; /* Zarovnáme pozadí */
    display: inline-block; /* Prvky .game se budou zobrazovat vedle sebe */
}

.game-item {
    margin-top: 13%;
    margin-left: 2.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-title {
    margin-top: 18%;
    font-size: 20px;
    color: white;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    z-index: 1000;
}

.game-title:hover .hover-div {
    display: block;
}

.game-item img:hover {
    filter: brightness(0.3);
}

.game-item img {
    width: 68%;
    height: 20vh;
    transition: filter 1s ease;
}
